res/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">  

	<xsd:element name="policies" />

	<xsd:complexType name="sizepolicy"/>
		<xsd:element name="name" type="xsd:string"/>
		<xsd:complexType name="range">
			<xsd:sequence>
				<xsd:element name="min" type="xsd:int" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="max" type="xsd:int" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
</xsd:schema>


	

<!--
<policies>
    <sizepolicy>
		<name>size</name>
		<range>
			<min>52</min>
			<max>135</max>
		</range>
    </sizepolicy>
</policies>
-->
